<header class="bar-header">
  <div>
    <a id="menu" role="button">
      <svg id="open" class="icon-menu">
        <use xlink:href="#icon-menu"></use>
      </svg>
    </a>
    {% assign url_language = page.url | split: "/" %}
    <div class="languages">
      <a class="languages__link {% if url_language[1] == 'en'  %} highlight-language {% endif %}" href="/en">English</a>
      <a class="languages__link {% if url_language[1] == 'es'  %} highlight-language {% endif %}" href="/es">Español</a>

      <a href='https://cafecito.app/codeflixbysollopez' class="coffee-or-beer" rel='noopener' target='_blank'><img
          srcset='https://cdn.cafecito.app/imgs/buttons/button_2.png 1x, https://cdn.cafecito.app/imgs/buttons/button_2_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_2_3.75x.png 3.75x'
          src='https://cdn.cafecito.app/imgs/buttons/button_2.png' alt='Invitame un café en cafecito.app' /></a>
    </div>
  </div>
  <div class="coffee-or-beer-mobile">
    <a href='https://cafecito.app/codeflixbysollopez' rel='noopener' target='_blank'><img
        srcset='https://cdn.cafecito.app/imgs/buttons/button_2.png 1x, https://cdn.cafecito.app/imgs/buttons/button_2_2x.png 2x, https://cdn.cafecito.app/imgs/buttons/button_2_3.75x.png 3.75x'
        src='https://cdn.cafecito.app/imgs/buttons/button_2.png' alt='Invitame un café en cafecito.app' /></a>
  </div>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %} {% include search.html %}