<header class="bar-header">
  <div>
    <a id="menu" role="button">
      <svg id="open" class="icon-menu">
        <use xlink:href="#icon-menu"></use>
      </svg>
    </a>
    {% assign url_language = page.url | split: "/" %}
    <div class="languages">
      <a class="languages__link {% if url_language[1] == 'en'  %} highlight-language {% endif %}" href="/en">English</a>
      <a class="languages__link {% if url_language[1] == 'es'  %} highlight-language {% endif %}" href="/es">Español</a>

      <a href='https://cafecito.app/codeflixbysollopez' class="coffee-or-beer" rel='noopener' target='_blank'><img
        src='../assets/img/beer.png' width=50 height=50 alt='Sale birrita?' /><span class="beer">Beer!</span></a>
    </div>
  </div>
  <div class="coffee-or-beer-mobile">
    <a href='https://cafecito.app/codeflixbysollopez' rel='noopener' target='_blank'><img
      src='../assets/img/beer.png' width=50 height=50 alt='Sale birrita?' /></a>
  </div>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %} {% include search.html %}